[flake8]
min_python_version = 3.7.0
max-line-length = 88
# flake8-use-fstring: https://github.com/MichaelKim0407/flake8-use-fstring#--percent-greedy-and---format-greedy
format-greedy = 1
enable-extensions = TC, TC1
type-checking-exempt-modules = typing, typing-extensions
eradicate-whitelist-extend = ^-.*;
extend-ignore =
    # E203: Whitespace before ':' (pycqa/pycodestyle#373)
    E203,
    # SIM106: Handle error-cases first
    SIM106,
per-file-ignores =
    # W291: Trailing whitespace
    tests/ui/test_exception_trace.py:W291
    tests/ui/test_table.py:W291
extend-exclude =
    # External to the project's coding standards:
    docs/*,
