ci:
  autofix_prs: false

repos:
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black

  - repo: https://github.com/asottile/yesqa
    rev: v1.3.0
    hooks:
      - id: yesqa
        additional_dependencies: &flake8_deps
          - flake8-broken-line==0.4.0
          - flake8-bugbear==22.7.1
          - flake8-comprehensions==3.10.0
          - flake8-eradicate==1.2.1
          - flake8-quotes==3.3.1
          - flake8-simplify==0.19.2
          - flake8-tidy-imports==4.8.0
          - flake8-type-checking==2.0.3
          - flake8-typing-imports==1.12.0
          - flake8-use-fstring==1.3
          - pep8-naming==0.13.0

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: [--add-import, from __future__ import annotations]
        exclude: ^tests/fixtures/exceptions/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.961
    hooks:
      - id: mypy
        pass_filenames: false

  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        additional_dependencies: *flake8_deps

  - repo: https://github.com/asottile/pyupgrade
    rev: v2.37.1
    hooks:
      - id: pyupgrade
        args:
          - --py37-plus

  - repo: https://github.com/hadialqattan/pycln
    rev: v2.0.1
    hooks:
      - id: pycln
        args: [--all]
